<div class="layout-content">
	<Toast/>
	<div class="content-section implementation">
		<div class="card">
			<h5>DATA-1.JSON</h5>
			<DataTable :value="products" v-model:expandedRows="expandedProductRows" dataKey="id"
					   responsiveLayout="stack"
					   breakpoint="960px">
				<Column :expander="true" headerStyle="width: 3rem"/>
				<Column v-for="col of productColumns" :field="col.field" :header="col.header" :key="col.field"></Column>
				<Column :exportable="false">
					<template #body="slotProps">
						<Button icon="pi pi-times" class="p-button-rounded p-button-warning"
								@click="deleteProduct(slotProps.data)"/>
					</template>
				</Column>
				<template #expansion="slotProps">
					<div>
						<h5>HAS_RELATIVES</h5>
						<DataTable :value="slotProps.data.relatives"
								   v-model:expandedRows="expandedRelativeRows" dataKey="id"
								   responsiveLayout="stack" breakpoint="960px">
							<Column :expander="true" headerStyle="width: 3rem"/>
							<Column v-for="col of relativeColumns" :field="col.field" :header="col.header"
									:key="col.field"></Column>
							<template #expansion="slotProps">
								<div>
									<h5>HAS_RELATIVES</h5>
									<DataTable :value="slotProps.data.phones"
											   responsiveLayout="stack" breakpoint="960px">
										<Column v-for="col of phoneColumns" :field="col.field" :header="col.header"
												:key="col.field"></Column>
									</DataTable>
								</div>
							</template>
						</DataTable>
					</div>
				</template>
			</DataTable>
		</div>
	</div>
</div>
